.cartItems{
    display: flex;
    justify-content: center;
    gap: 100px;
flex-wrap: nowrap;
}
.cartItem{
    position: relative;
    top: 100px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.cartItem img{
    width: 100%;
    max-width: 200px;
    object-fit: cover;
}